.location_button {
  justify-content: center;
  position: absolute;
  right: 10%;
  top: 10%;
  width: 3.125rem;
  height: 3.125rem;
  z-index: 400;
  border-radius: 50%;
  background-color: var(--color-settings);
}
