.cardsmall {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--color-secondary);
  width: 90%;
  border-radius: 1rem;
  place-items: center;
}

.cardsmall img {
  width: 100%;
  padding: 2rem;
}

.picture {
  border-radius: 90%;
}

.text {
  font-size: 2.8125rem;
  justify-items: center;
  align-items: center;
}
