.taskbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 5.625rem;
  background-color: var(--color-tertiary);
  position: fixed;
  bottom: 0;
}
