.page {
  display: grid;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.background {
  filter: blur(5px);
  background-image: url('../../../assets/1447953259528885.jpg');
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}
