.address_input {
  justify-content: center;
  position: fixed;
  width: 60%;
  height: 3rem;
  font-size: 1.4rem;
  z-index: 100;
  padding: 1rem;
  border-radius: 1rem;
  right: 28%;
  top: 10%;
  background-color: var(--color-primary);
  color: var(--color-highlight);
  font-family: var(--font-primary);
}

.address_input::placeholder {
  text-align: center;
}
