.login {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.user {
  text-align: center;
  justify-self: center;
  font: var(--font-primary);
  background-color: var(--color-primary);
  border-radius: 1rem;
  font-size: 1.875rem;
  width: 80%;
  height: 2.8125rem;
  margin: 1rem;
}

.password {
  text-align: center;
  justify-self: center;
  font: var(--font-primary);
  background-color: var(--color-primary);
  border-radius: 1rem;
  font-size: 1.875rem;
  width: 80%;
  height: 2.8125rem;
  margin: 1rem;
}
