.signup {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-self: center;
  background-color: var(--color-primary);
  width: 16.5rem;
  height: 4.375rem;
  border-radius: 1rem;
  font-size: 2rem;
}
