.cardbig {
  display: grid;
  grid-template-columns: 30% 1fr;
  background-color: var(--color-secondary);
  width: 80%;
  height: 20%;
  border-radius: 1rem;
  place-items: center;
}

.cardbig img {
  width: 100%;
  padding: 2rem;
}

.picture {
  border-radius: 90%;
}

.text {
  font-size: 2.8125rem;
  justify-items: center;
  align-items: center;
}
